<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="?p=front&c=System&a=add" method="post">
    <table>
        <tr>
            <td>标题：</td>
        </tr>
        <tr>
            <td width="500">
                <input type="text" name="title" size="150">
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="content" name="content"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="发送">
            </td>
        </tr>
    </table>
</form>

</body>
</html>


<!-- 加载编辑器的容器 -->

<!-- 配置文件 -->
<script type="text/javascript" src="./public/umeditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="PUBLIC/umeditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('content');
</script>
